# Google Drive Integration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APP_URL=https://ais-dev-vfyqztfd2r5mhz3b4cw5fp-45058354729.asia-east1.run.app

# Gemini AI Integration
GEMINI_API_KEY=
VITE_GEMINI_API_KEY=
